.container {
  padding: 0 2rem;
}

.main {
  height: 90vh;
  margin: 3rem 4rem 3rem 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  background-color: #010d11;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  position: relative;
  top: 30px;
  margin-top: 10px;
  line-height: 1.15;
  font-size: 1.7rem;
  color: #d9d9d9;
}
.strong {
  color: #4a4a4a;
}

.estado {
  width: 100%;
  color: fieldtext;
  background-color: rgb(232, 240, 254);
  border-radius: 5px;
}

.error {
  color: #ca1010;
  font-size: 0.95rem;
  text-align: left;
  margin-top: 0.45rem;
  margin-left: 0.5rem;
  position: relative;
  margin-bottom: -4px;
  align-content: center;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}


.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.logoPrincipal {
  display: flex;
  height: 3.2em;
  margin-top: 2.5em;
  margin-bottom: 0.5rem;
}

.connect {
  display: flex;
  background-color: black;
  text-align: left;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.bottom {
  display: flex;
  background-color: #8cbe21;
  color: #000;
  border-radius: 30px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 230px;
  font-weight: 600;
  
}

.textField {
  color: #0070f3;
  text-emphasis-color: #065068;
  text-decoration-color: #157df5;
}

.typo {
  position: relative;
  top: -10px;
  font-size: 0.9rem;
  line-height: 4.5;
  color: #d9d9d9;
}

.titleReact {
  position: inherit;
  text-align: center;
  font-size: 1rem;
  line-height: 0;
  color: #d9d9d9;
}

.grid {
  position: relative;
  border-color: #d9d9d9;
}

.bottomwallet {
  font-weight: 600;
  background-color: #fdc716;
  color: #000;
  border-radius: 10px;
  max-width: 350px;
  height: 35px;
  cursor: pointer;
}

.bottomwalletwrong {
  font-weight: 600;
  background-color: red;
  color: #000;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
  height: 35px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .main {
    margin: 3rem 8rem 3rem 8rem;
  }
  .grid {
    width: 100%;
  }
  .mq {
    font-size: 14px;
  }
}

@media (max-width: 680px) {
  .mq {
    font-size: 11px;
  }
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
  }
  .mq {
    font-size: 14px;
  }

  .main {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    contain: inherit;
    justify-content: inherit;
    align-items: center;
    border-radius: 0px;
  }
  .logoPrincipal {
    height: 2em;
    margin-top: 1rem;
    margin-bottom: 0.1em;
  }

  .title {
    margin-top: 20px;
    line-height: 0.35;
    font-size: 1.4rem;
  }
}

.typo {
  bottom: 40px;
  line-height: 1.2;
  text-align: center;
}

@media (max-width: 341px) {
  .typo {
    bottom: 40px;
    font-size: 0.8rem;
  }

  .bottom {
    font-size: 0.65rem;
  }
}

@media (max-width: 268px) {
  .typo {
    bottom: 415px;
  }
}